<a href="http://drupal.org/project/views_accordion_foundation">Views Accordion Foundation</a> is a module that provides a <a href="topic:views/style">display style</a> plugin for the <a href="topic:views/about">Views</a> module.
It will take the results and display them as a JQuery <a href="http://en.wikipedia.org/wiki/Accordion_(GUI)">accordion</a>.
