{#
/**
 * @file
 * Theme override to display a views_accordion_foundation set of rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 * - settings: Views accordion settings.
 *
 * @see template_preprocess_views_accordion_foundation_view()
 */
#}
{% if attributes|length > 0 -%}
  <div{{attributes}}>
{% endif %}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<ul{{list.attributes}}>
  {% for row in rows %}
    {% set activeClass = ['accordion-item'] %}
    {% if ((settings.row_start_open == 'last' and loop.last) or (settings.row_start_open == loop.index)) %}
      {%
        set activeClass = [
          'is-active',
          'accordion-item'
        ]
      %}
    {% endif %}
    <li{{row.attributes.addClass(activeClass).setAttribute('data-accordion-item', '')}}>
      {{- row.content -}}
    </li>
  {% endfor %}
</ul>

{% if attributes|length > 0 -%}
  </div>
{% endif %}
